<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand nav-link" href="/homepage">
        <img src="../images/train.png" width="30" height="24" class="d-inline-block align-text-top">
        Ticketac
        </a>
        <div class="d-flex justify-content-end">
            <a class="navbar-brand nav-link active" href="/">
                Connection
            </a>
            <a class="navbar-brand nav-link" href="/last_trips">
                My lasts trips
            </a>
        </div>
    </div>
</nav>